<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>
      <a class="sidebar-nav-item" href="http://nigelngcomedy.com">Site</a>
      <a class="sidebar-nav-item" href="http://nigelngcomedy.com/#gigs">Gigs</a>
      <a class="sidebar-nav-item" href="http://nigelngcomedy.com/#about">About</a>
    </nav>

  </div>
</div>
